deltaX = 0
@keyframes show-animate
  to
    transform: translateX(deltaX)

@keyframes hide-animate
  100%
    opacity 0
    transform: translateX(0 - deltaX)

@keyframes rotate-down
  to
    transform-origin top left
    transform: rotate(45deg) translateX(3px)

@keyframes rotate-up
  to
    transform-origin bottom left
    transform rotate(-45deg) translateX(4px)
