//colors
color-sulu = #b8ec64
color-wild-watermelon = #ff6972
color-rust = #bb370e
color-crusta = #ff862f
color-koromiko = #ffbd59
color-straw = #D5B986
color-milk-punch = #fff5d1
color-mine-shaft = #333
color-dove-gray = #666
color-dusty-gray = #999
color-alabaster = #f7f7f7
color-gallery = #eaeaea
color-bg = #fff
color-magnolia = #f8efff
color-blue-chalk = #ebd1ff
color-mauve = #c998fb
color-medium-purple = #a65cf0
color-purple-heart = #7033ac
//gaps
gap = 32px





