//colors
color-mine-shaft = #202020
color-bg = #fff
color-burning-orange = #ff6e30
color-tuscany = #bc572b
color-grenadier = #ce4307
color-dusty-gray = #999
color-silver = #cacaca
color-tundora = #4a4a4a
color-mercury = #e9e9e9
color-tuscany = #bc572b
color-burnt-sienna = #F06666



