//colors
color-bg = #fff
color-alabaster = #f7f7f7
color-rust = #bb370e
color-crusta = #ff862f
color-koromiko = #ffbd59
color-milk-punch = #fff5d1
color-straw = #D5B986
color-dove-gray = #666
color-dusty-gray = #999
color-gallery = #eaeaea
color-mine-shaft = #333
color-medium-purple = #a65cf0
color-mauve = #c998fb
color-purple-heart = #7033ac
color-blue-chalk = #ebd1ff
color-magnolia = #f8efff
//gaps
gap = 32px





