- var social_list = ["fb", "vk", "instagram"]
-
  var footer_list = [
    {
      subhead: true,
      descr: "О нас",
    },
    {
      descr: "О компании",
    },
    {
      descr: "Блог",
    },
    {
      subhead: true,
      descr: "Услуги",
    },
    {
      descr: "Доставка",
    },
    {
      descr: "Рассрочка и кредит",
    },
    {
      descr: "Сборка и установка",
    },
    {
      subhead: true,
      descr: "Связь с нами",
    },
    {
      descr: "Обратная связь",
    },
    {
      descr: "Контакты",
    },
    {
      subhead: true,
      descr: "Сотрудничество",
    },
    {
      descr: "Поставщикам",
    },
    {
      descr: "Оптовикам",
    },
    {
      descr: "Карьера",
    },
  ]
