doctype html
html(lang="ru")
  include ../components/head
  block scripts
  body
    include ../components/store
    include ../components/header
    main
      block content
    include ../components/footer
