.breadcrumbs
  margin-bottom 35px
  grid-area breadcrumbs

  grid-row-start 1
  grid-column-start 1
  grid-row-end 2
  grid-column-end -1
  &__items
    display flex
    align-items center
    justify-content flex-start

    font-weight 400
    font-size 14px
    line-height 100%

    color color-dusty-gray
  &__item
    &:not(:last-child)
      &:after
        padding-right 4px
        padding-left 5px
        content "/"
    &:last-child
      color color-purple-heart
      pointer-events none

