.burger
  position relative
  z-index 35

  width 24px
  height 24px

  color color-medium-purple
  background-color transparent

  cursor pointer

  deltaX = 100vw
  transform translateX(0 - deltaX)

  @media (max-width 900px)
    animation show-animate .3s ease-in-out
    animation-fill-mode forwards

  &--hide
    animation hide-animate .3s ease-in-out
    animation-fill-mode forwards

  &__line
    position absolute
    z-index 2
    left 0
    right 0
    height 3px
    background-color currentColor
    border-radius 4px

    &--first
      top 0

    &--second
      top 10px

    &--third
      bottom 0
