.burger
  position relative
  z-index 35

  width 0
  height 0

  color color-bg
  background-color transparent

  cursor pointer

  deltaX = 100vw
  transform translateX(0 - deltaX)
  @media (max-width 576px)
    width 20px
    height 18px
    animation show-animate .3s ease-in-out
    animation-fill-mode forwards

  &--hide
    animation hide-animate .3s ease-in-out
    animation-fill-mode forwards

  &__line
    &-first
      position absolute
      z-index 2
      top 0
      left 0
      right 0

      height 2px
      background-color currentColor

    &-second
      position absolute
      z-index 2
      top 8px
      left 0
      right 0

      height 2px
      background-color currentColor

    &-third
      position absolute
      z-index 2
      bottom 0
      left 0
      right 9px
      height 2px
      background-color currentColor
