.card
  padding 30px 30px
  position relative
  display inline-flex
  flex-direction column
  justify-content flex-end

  box-sizing border-box
  min-height 511px
  max-width 'calc((100% - ((100% / 2) - (%s / 2)) - (%s * 2)) / 2)' % (gap gap)

  &--wide
    max-width 'calc((100% / 2) - (%s / 2))' % gap

  background-color color-alabaster
  &__rating
    margin 0 auto auto 0

    display flex
    align-items center

    color color-crusta
    font-weight 400
    font-size 16px
    line-height 130%
    & > svg
      margin-right 7px
  &__discount
    position absolute
    top 32px
    left 0

    padding-right 10px
    display flex
    justify-content center
    align-items center

    min-width 92px
    min-height 34px

    font-weight 700
    font-size 14px
    line-height 19px
    color color-bg

    background-image url("../img/sprite.svg#discount-bg")
    background-repeat no-repeat
    background-position center
    background-size cover

  &__picture
    margin: 0 -30px 14px -30px
    align-self center

  &__descr
    margin-bottom 4px
    display flex
    flex-direction column


    font-weight 400
    font-size 24px
    line-height: 130%
  &__price
    margin-bottom 23px
    font-weight 400
    font-size 16px
    line-height 130%
    color color-dove-gray
    &-new
      margin-right: 30px
      font-size 18px
      color color-crusta
    &-old
      color color-dusty-gray
      text-decoration line-through
  &__scheme
    position absolute
    right 30px
    bottom 30px
