@import 'breadcrumbs.styl'
.grid-catalog
  display grid
  grid-template-columns repeat(4, 1fr)
  grid-template-rows repeat(3, auto)
  column-gap 32px

.breadcrumbs
  grid-row-start 1
  grid-column-start 1
  grid-row-end 2
  grid-column-end -1

.aside
  grid-row-start 2
  grid-column-start 1
  grid-row-end -3
  grid-column-end 2

  margin-top auto
  margin-bottom 0

.ad-aside
  grid-row-start -2
  grid-column-start 1
  grid-row-end -1
  grid-column-end 2

  margin-top auto
  margin-bottom 0

  background-image url("../img/ad-bg-320.webp")
  background-repeat no-repeat
  background-size contain
  background-position top center

.catalog
  grid-area catalog
  grid-row-start 2
  grid-column-start 2
  grid-row-end -1
  grid-column-end -1
  &__slider
    overflow hidden
  //  display grid
  //  grid-template-columns repeat(3, 1fr)
  //  grid-template-rows repeat(4, auto)
  //  column-gap 32px


  &__item
    max-width initial
    //height: calc((100% - 34px) / 3) !important;

