@import 'breadcrumbs.styl'
@import 'multi-range-slider.styl'

card-height = 420px

.grid-catalog
  position relative
  padding-top 0
  padding-bottom 132px
  display grid
  grid-template-columns repeat(4, 1fr)
  grid-template-rows repeat(4, auto)
  column-gap gap
  @media(max-width 1200px)
    grid-template-columns repeat(3, 1fr)

  &__title
    margin-top 0
    margin-bottom 23px

    grid-row-start 2
    grid-row-end 2
    grid-column-start 2
    grid-column-end -1

    font-weight 400
    font-size 24px
    line-height 130%

    color color-mine-shaft
    @media(max-width 1200px)
      margin-bottom 15px
      grid-column-start 1
      grid-column-end -1

/*aside*/
.aside
  margin-top 0
  grid-row-start 2
  grid-row-end -2
  grid-column-start 1
  grid-column-end 2
  align-self start
  @media(max-width 1200px)
    grid-row-start 3
    grid-row-end 3
    grid-column-start 1
    grid-column-end -1
  &__form
    width initial
    @media(max-width 1200px)
      display grid
      grid-template-columns auto repeat(4, 1fr)
      column-gap gap
      align-items center

    & .choices
      display flex
      background color-alabaster
      border-radius 10px
      font-weight: 400;
      font-size 16px
      width initial
      & .choices__item
        background transparent
      & .choices__list--dropdown
        max-height initial
      & .choices__placeholder
        color color-mine-shaft
        opacity initial
      @media(max-width 1200px)
        padding-left 13px
        height 40px


    &-title
      margin-bottom 19px
      font-weight 400
      font-size 18px
      line-height 130%
      color color-mine-shaft
      &-big
        @media(max-width 1200px)
          display none
      &-small
        display none
        font-size 14px
        color color-mine-shaft
        @media(max-width 1200px)
          margin-right 11px
          display initial
      @media(max-width 1200px)
        margin-bottom 32px

    &-label
      margin-bottom 11px

    & .form__fieldset
      margin-bottom 18px
      width 100%
      @media(max-width 1200px)
        margin-bottom 31px

      &-legend
        font-weight 600
        font-size 16px
        line-height 130%
        color color-dove-gray
        width 100%

    & .checkbox-icon
      font-weight 400
      font-size 16px
      line-height 130%
      color color-dove-gray

      &:after
        width 20px
        height 20px

/*ad-aside*/
.ad-aside
  padding 30px

  margin-top auto
  margin-bottom 0

  grid-row-start -2
  grid-row-end -1

  grid-column-start 1
  grid-column-end 2

  display flex
  flex-direction column
  justify-content end

  background-color color-mine-shaft
  background-image url("../img/ad-bg-320.webp")
  background-repeat no-repeat
  background-size contain
  background-position top center

  border-radius 10px

  min-height 360px

  @media(max-width 1200px)
    display none

  &__title
    margin 0

    font-family "Playfair Display", Verdana, sans-serif
    font-style normal
    font-weight 900
    font-size 24px
    line-height 32px
    color color-straw

  &__descr
    margin 0 0 10px 0

    font-weight 400
    font-size 16px
    line-height 22px
    color color-dusty-gray

    width 75%

  &__link.link
    align-items baseline


/*catalog*/
.catalog
  position relative
  z-index 5
  grid-row-start 3
  grid-row-end -1
  grid-column-start 2
  grid-column-end -1

  @media(max-width 1200px)
    grid-row-start 4
    grid-row-end -1
    grid-column-start 1
    grid-column-end -1

  &__slider

    height 'calc((3 * %s) + (2 * %s))' % (card-height gap)

    &.swiper-horizontal
      position initial

    & .swiper-pagination-bullets
      bottom 'calc(-2 * %s)' % gap

    & .swiper-pagination-bullet
      width gap
      height gap

      background-color transparent
      color color-medium-purple
      font-weight 600
      font-size 16px
      line-height 175%
      text-align center

      border 2px solid color-medium-purple
      border-radius 10px
      opacity 1

      &:hover
        color color-bg
        background-color color-medium-purple

      &:focus
        color color-bg
        background-color color-mauve

      &:active
        color color-bg
        background-color color-purple-heart
        border-color color-purple-heart

      &-active
        color color-bg
        background-color color-medium-purple

  &__item.card
    max-width initial
    min-height initial
    height 'calc(1 * %s)' % card-height
    & .card__picture
      margin-left -14px
      margin-right: -14px
