@import 'breadcrumbs.styl'
.catalog
  grid-area catalog

  &-grid
    display grid
    grid-template-areas "breadcrumbs breadcrumbs" "sidebar catalog"

  //&__item
  //  height: calc((100% - 34px) / 3) !important;

