.category-card
  padding 30px 30px 27px
  position relative
  display flex
  flex-direction column

  &:after
    content ""
    position absolute
    z-index -1
    top 0
    right 0
    bottom 0
    left 0
    background-color color-alabaster

  &__items
    margin-bottom "calc(%s / 2)" % gap
    display flex
    color color-dusty-gray
    font-weight 400
    font-size 14px
    line-height 100%

  &__item
    &:not(:last-child)
      margin-right 30px

  &__title
    font-weight 400
    font-size 24px
    line-height 33px

  &__picture
    display flex
    margin-left -30px
    margin-bottom "calc(%s - 3px)" % gap

    height -webkit-fill-available
    @media (max-width 1200px)
      min-height 311px

  &__img
    height -webkit-fill-available

  &__link
    margin-bottom 0
