.category-card
  position relative
  display inline-flex
  flex-direction column

  background-color color-alabaster
  &__items
    display flex
    color color-dusty-gray
    font-weight 400
    font-size 14px
    line-height 100%
  &__item
    &:not(:last-child)
      margin-right 30px
  &__link.link
    display flex
    align-items center

    color color-medium-purple
    font-weight 700
    font-size 16px
    line-height 120%
    &:after
      content ""
      width 22px
      height 22px
      background-image url("../img/sprite.svg#arrow")
      background-repeat no-repeat
      background-position center
      background-size cover


