.category-card
  padding 30px 30px 27px
  position relative
  display inline-flex
  flex-direction column

  background-color color-alabaster
  &__items
    margin-bottom: "calc(%s / 2)" % gap
    display flex
    color color-dusty-gray
    font-weight 400
    font-size 14px
    line-height 100%
  &__item
    &:not(:last-child)
      margin-right 30px
  &__title
    font-weight 400
    font-size 24px
    line-height 33px

  &__picture
    margin-left -30px
    margin-bottom: "calc(%s - 3px)" % gap

  &__link
    &.link
      position relative

      display inline-flex
      flex-direction row-reverse
      align-items flex-start
      justify-content flex-end

      color color-medium-purple
      font-weight 700
      font-size 16px
      line-height 120%

    &-descr
      margin-right: 5px
    &-btn
      @extend .btn-arrow
      &:after
        position absolute
        z-index 99
        content ""
        top 0
        right 0
        bottom 0
        left 0
      &:hover + span
        text-decoration underline
      &:focus + span
        text-decoration underline
      &:active + span
        color color-purple-heart
        text-decoration underline

