.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted
  background: initial

.choices__list[aria-expanded] .choices__item--selectable
  padding 0
  margin-bottom: 8px

.choices[data-type*=select-one] .choices__inner
  padding-bottom 0

.choices__list--dropdown, .choices__list[aria-expanded]
  z-index 999
  margin-top: 5px
  padding 16px 0 8px 16px

  background color-bg
  border 2px solid color-alabaster
  border-radius 0
  max-height 200px

.choices
  padding-left 3px
  width 89px
  font-family 'Open Sans', sans-serif
  font-style normal
  font-weight 400
  font-size 16px
  line-height 120%

  &__inner
    padding: 0

    display flex
    align-items center
    min-height 16px
    color color-medium-purple
    background-color transparent
    border none

    font-family 'Open Sans', sans-serif
    font-style normal
    font-weight 400
    font-size 16px
    line-height 120%
    transition color .3s ease-in

  &__list
    left 0
    display flex
    flex-direction column
    flex-wrap wrap
    column-gap 30px
    font-family 'Open Sans', sans-serif
    font-style normal
    font-weight 400
    font-size 16px
    line-height 130%
    &--dropdown
      border none
    width 100% + 2px
    padding 0
    border none

  &__item
    background linear-gradient(color-bg, color-bg)
    &.is-selected
      display none

  &[data-type*=select-one]
    &::after
      width 13px
      height 8px
      color currentColor
      background-image url("../img/sprite.svg#choise")
      background-repeat no-repeat
      background-position right center
      background-size contain
      transition transform .3s ease-in-out, filter .3s ease-in-out
      @media (max-width 425px)
        right 19px
        top 47%

    &.is-open
      &::after
        margin-top -2.5px
        transform rotate(180deg)

