content-width = 841px
.shipper
  &__container
    padding-top 0
    padding-bottom 36px

    font-weight 400
    font-size 16px
    line-height 180%
    color color-dove-gray
    @media (max-width 900px)
      padding-bottom 40px
    @media (max-width 600px)
      padding-top 11px
      padding-bottom 15px
      font-size 14px

  &__descr
    margin-bottom gap
    max-width content-width
    font-size 16px
    line-height 180%
    @media (max-width 600px)
      margin-bottom 26px
      font-size 14px

  &__title
    max-width content-width
    margin-bottom 'calc(%s + 3px)' % gap
    color color-mine-shaft
    @media (max-width 600px)
      margin-bottom 27px

    &--second
      margin-bottom 12px
      font-size 24px
      line-height 33px
      @media (max-width 600px)
        margin-bottom 5px
        font-size 16px

      &.title--small
        @media (max-width 600px)
          margin-bottom 8px
          font-size 14px

  &__items
    margin-bottom gap
    max-width content-width
    @media (max-width 600px)
      margin-bottom 26px

    &--first
      max-width 624px
      line-height 150%

      & > .shipper__item
        margin-bottom 12px
        padding-left 37px
        position relative

        &:before
          content ""
          position absolute
          top 0
          left -5px
          width 37px
          height 37px

        &--first::before
          background-image url("../img/sprite.svg#network")
          background-repeat no-repeat
          background-position left top
          background-size 35px

        &--second::before
          background-image url("../img/sprite.svg#briefcase")
          background-repeat no-repeat
          background-position left top
          background-size 35px

        &--third::before
          background-image url("../img/sprite.svg#git-pull-request")
          background-repeat no-repeat
          background-position left top
          background-size 35px

  &__list
    padding 0
    margin 0 0 gap 0
    max-width content-width
    @media (max-width 600px)
      margin-bottom 25px

    &-item
      margin-bottom 'calc(%s / 2)' % gap
      position relative
      counter-increment step-counter
      list-style-type none

      &:before
        font-weight 600
        font-size 16px
        line-height 100%
        color color-crusta

    &--first
      & > .shipper__list-item
        display flex
        flex-direction column

        &:before
          margin-bottom 'calc(%s / 2)' % gap
          content 'Возможность ' counter(step-counter) ':'
          @media (max-width 600px)
            margin-bottom 13px

    &--second
      margin 0

      & > .shipper__list-item
        padding-left 26px
        margin-bottom 'calc(%s / 2 - 3px)' % gap
        @media (max-width 600px)
          margin-bottom 10px

        &:before
          content counter(step-counter) '.'
          position absolute
          top 5px
          left 0

  &__bottom
    margin-bottom gap
    display flex
    align-items center

    max-width content-width
    font-weight 400
    font-size 24px
    line-height 150%
    color color-mine-shaft
    @media (max-width 600px)
      font-size 16px

    &::before
      content ''
      margin-right gap
      width 77px
      height 116px
      background-image url("../img/pensill.webp")
      background-repeat no-repeat
      background-size contain
      background-position center
      @media (max-width 900px)
        width 110px
      @media (max-width 600px)
        width 68px
        margin-right 18px
