.header
  position relative
  overflow-y visible

  white-space nowrap

  &:after
    content ""
    position absolute
    z-index -1

    top 0
    left 0
    right 0
    height 50px
    background-color color-alabaster
    @media (max-width 1200px)
      top 58px

  & > .container
    padding 0
    overflow-y visible

  &__container
    overflow-y visible
    display grid
    grid-template-columns repeat(5, min-content) auto auto min-content
    grid-template-rows 50px 27px 60px

    row-gap gap
    align-items center

    padding-bottom gap
    width 100%
    max-width initial
    @media (max-width 1200px)
      padding-top 18px

      grid-template-columns repeat(2, min-content) repeat(2, auto) repeat(2, min-content)
      grid-template-rows 23px 62px 43px 60px
      row-gap 18px
      align-items center
      justify-content start

  &__logo
    padding-top 5px
    grid-row-start 2
    grid-row-end 2

    grid-column-start 1
    grid-column-end 3
    @media (max-width 1200px)
      padding-top 0
      margin-bottom 10px
      margin-right "calc(2 * (%s - 3px))" % gap
      grid-row-start 3
      grid-row-end 3
      grid-column-start 1
      grid-column-end 2

  &__phone
    padding-left 21px
    grid-row-start 1
    grid-row-end 1

    grid-column-start 2
    grid-column-end 4
    @media (max-width 1200px)
      margin-right 0
      margin-left auto

      grid-column-start 3
      grid-column-end -1

  &__top
    &-form
      grid-row-start 1
      grid-row-end 1

      grid-column-start 1

      & > .form-select__label
        margin 0
        transition color .3s ease-in-out, background-color .3s ease-in-out

        &:hover .choices__inner
          color color-mauve

        &:focus
          background-color color-blue-chalk

        &:active .choices__inner
          color color-purple-heart

  &__items
    @extend .menu-right

    grid-row-start 1
    grid-row-end 1

    grid-column-start 4
    grid-column-end -1

    justify-content space-between

    font-family 'Open Sans', Verdana, sans-serif
    font-style normal
    font-weight 400
    font-size 14px
    line-height 100%
    color color-dusty-gray
    width 77%
    @media (max-width 1200px)
      margin 0 0 16px 0

      grid-row-start 2
      grid-row-end 2

      grid-column-start 1
      grid-column-end -3

      width 83%

    &-item
      padding 3px 8px
      transition color .3s ease-in-out, background-color .3s ease-in-out

      &:last-child
        padding-right 0

      &:hover
        color color-medium-purple

      &:focus
        background-color color-blue-chalk
        color color-purple-heart

      &:active
        color color-purple-heart
      @media (max-width 1200px)
        padding 0

  &__menu
    @extend .menu-right
    grid-row-start 2
    grid-row-end 2

    grid-column-start 3
    grid-column-end -1

    padding-top 26px
    padding-bottom 23px
    padding-right 3px

    display flex
    align-items center
    justify-content space-between
    font-family 'Open Sans', Verdana, sans-serif
    font-style normal
    font-weight 400
    font-size 16px
    line-height 22px
    width 94.5%
    @media (max-width 1200px)

      margin 0 0 19px 0

      grid-row-start 3
      grid-row-end 3
      grid-column-start 2
      grid-column-end -1
      width 100%

    &-item
      padding 10px 5px
      &:last-child
        padding-right 0

      &:hover
        color color-medium-purple

      &:focus
        background-color color-blue-chalk

      &:active
        color color-purple-heart

  &__bottom
    &--action
      & path
        fill color-medium-purple

      &:hover
        & path
          fill color-mauve

      &:focus
        background-color color-mauve

        & path
          fill color-bg

      &:active
        & path
          fill color-purple-heart

    &-form
      margin 0
      grid-row-start 3
      grid-row-end 3

      grid-column-start 1
      grid-column-end 6

      font-weight 400
      font-size 16px
      line-height 120%
      background transparent

      width 'min(%s, %s)' % (761px 60vw)
      max-height 60px
      @media (max-width 1200px)
        grid-row-start 4
        grid-row-end 4

        grid-column-start 1
        grid-column-end 3
        width 'calc(100vw - %s - (2 * %s))' % (300px gap36)

  &__category
    margin-right auto
    grid-row-start 3
    grid-row-end 3

    grid-column-start 6
    grid-column-end 7

    display flex
    align-items center
    border 2px solid color-alabaster
    border-radius 0 10px 10px 0
    min-width 300px
    min-height 60px
    cursor pointer

    transition background-color .3s ease-in-out, border-color .3s ease-in-out

    & > .choices
      width 100%

      &:after
        right 30px
    @media (max-width 1200px)
      grid-row-start 4
      grid-row-end 4

      grid-column-start 3
      grid-column-end -1

    &:hover
      border-color color-medium-purple

    &:focus
      border-color color-medium-purple
      background-color color-magnolia

    &:active
      border-color color-purple-heart

    & .choices__item
      padding-left 27px

  &__lk
    @extend .header__bottom--action
    padding-top 4px
    margin-right 24px

    grid-row-start 3
    grid-row-end 3

    grid-column-start -3
    justify-self end
    @media (max-width 1200px)
      margin-bottom 16px
      grid-row-start 2
      grid-row-end 2
      grid-column-start -3

  &__card
    @extend .header__bottom--action
    padding 3px 4px 3px 8px

    margin-right 0
    margin-left 0
    position relative

    grid-row-start 3
    grid-row-end 3

    grid-column-start -2
    grid-column-end -1
    justify-self end

    display flex
    justify-content flex-start
    align-items center

    width 49px
    height 34px

    &-icon
      position absolute
      top 3px
      right 0

    &-value
      padding: 2px 0 0
      width 15px
      height 15px

      text-align center
      font-weight 700
      font-size 10px
      line-height 100%

      background-color color-crusta
      border-radius 50%

      color color-bg
    @media (max-width 1200px)
      margin-bottom 16px
      grid-row-start 2
      grid-row-end 2
      grid-column-start -2
      grid-column-end -1
