.header
  &.container
    padding 0

  &__container
    display grid
    grid-template-columns repeat(7, auto)
    grid-template-rows 50px 27px 60px
    row-gap gap
    align-items center

    padding-bottom gap
    width 100%
    max-width initial

  &__logo
    grid-area header-logo
    grid-row-start 2
    grid-row-end 2

    grid-column-start 1
    grid-column-end 2

  &__top
    &-form
      grid-area header-form
      grid-row-start 1
      grid-row-end 1

      grid-column-start 1
      grid-column-end 2

      margin-right 2px

    &-label
      transition color .3s ease-in-out, background-color .3s ease-in-out

      &:hover .choices__inner
        color color-mauve

      &:focus
        background-color color-blue-chalk

      &:active .choices__inner
        color color-purple-heart


    &-phone
      grid-area header-phone
      grid-row-start 1
      grid-row-end 1

      grid-column-start 2
      grid-column-end 3

    &-items
      @extend .menu-right
      grid-area header-items

      grid-row-start 1
      grid-row-end 1

      grid-column-start 3
      grid-column-end -1

      font-family 'Open Sans', Verdana, sans-serif
      font-style normal
      font-weight 400
      font-size 14px
      line-height 100%
      color color-dusty-gray

    &-item
      transition color .3s ease-in-out, background-color .3s ease-in-out

      &:not(:last-child)
        padding 3px 8px
        margin-right 48px

      &:last-child
        padding 3px 0 3px 8px

      &:hover
        color color-medium-purple

      &:focus
        background-color color-blue-chalk
        color color-purple-heart

      &:active
        color color-purple-heart

  &__menu
    padding-top 26px
    padding-bottom 23px
    padding-right 3px
    display flex
    align-items center

    &-items
      @extend .menu-right
      grid-area header-menu
      grid-row-start 2
      grid-row-end 2

      grid-column-start 3
      grid-column-end -1


      font-family 'Open Sans', Verdana, sans-serif
      font-style normal
      font-weight 400
      font-size 16px
      line-height 22px

    &-item
      &:not(:last-child)
        padding 10px 5px
        margin-right: 82px

      &:last-child
        padding 10px 0 10px 5px

      &:hover
        color color-medium-purple

      &:focus
        background-color color-blue-chalk

      &:active
        color color-purple-heart

  &__bottom
  //  padding-top 0
  //  display flex
  //  justify-content flex-start
  //  align-items center
  //
  //  overflow visible
  //  position relative
  //
  //  width 100%
  //
    &--action
      & path
        fill color-medium-purple

      &:hover
        & path
          fill color-mauve

      &:focus
        background-color color-mauve

        & path
          fill color-bg

      &:active
        & path
          fill color-purple-heart

    &-btn
      @extend .header__bottom--action
      margin-left auto
      margin-right 24px

      grid-area header-lk
      grid-row-start 3
      grid-row-end 3

      grid-column-start -3
      grid-column-end -2

    &-link
      @extend .header__bottom--action
      padding 3px 4px 3px 8px

      margin-right 0
      margin-left 0
      position relative

      grid-area header-card
      grid-row-start 3
      grid-row-end 3

      grid-column-start -2
      grid-column-end -1

      transform: translateY(-2px);

      display flex
      justify-content flex-start
      align-items center

      width 49px
      height 34px

      &-icon
        top 3px
        right 0

        position absolute

      &-value
        padding: 2px 0 0
        width 15px
        height 15px

        text-align center
        font-weight 700
        font-size 10px
        line-height 100%

        background-color color-crusta
        border-radius 50%

        color color-bg

    &-form
      grid-area header-search
      grid-row-start 3
      grid-row-end 3

      grid-column-start 1
      grid-column-end -3

      font-weight 400
      font-size 16px
      line-height 120%
      background transparent

      width 'min(%s, calc(200% / 3))' % 761px
      max-height 60px

    &-label
      display flex
      align-items center
      border 2px solid color-alabaster
      border-radius 0 10px 10px 0
      min-width 300px
      min-height 60px
      cursor pointer

      transition background-color .3s ease-in-out, border-color .3s ease-in-out

      & > .choices
        width 100%

        &:after
          right 30px

      &:hover
        border-color color-medium-purple

      &:focus
        border-color color-medium-purple
        background-color color-magnolia

      &:active
        border-color color-purple-heart

      & .choices__item
        padding-left 27px
