@keyframes animatetop
  0%
    top -500px
    opacity 0
  100%
    top 0
    opacity 1

.modal-window
  padding-top 181px
  display none

  position fixed
  z-index 10
  left 0
  top 0
  width 100%
  height 100%

  background-color rgba(51, 51, 51, .3)

  &__picture
    margin-bottom gap
    margin-right 'calc(%s * 1.5)' % gap


  &__descr.descr
    font-weight 400
    font-size 32px
    line-height 100%

  &__content
    margin auto

    position relative

    border-radius 10px
    border-color color-bg
    background-color color-bg
    opacity 0

    transition opacity .3s ease-in-out, top .3s ease-in-out

    &-btn
      &-close
        position absolute
        top 20px
        right 20px
        color color-dusty-gray
        & path
          fill currentColor
        &:hover
          color color-medium-purple
        &:focus
          background-color color-blue-chalk
          color color-purple-heart
        &:active
          color color-purple-heart

  &--visible
    display block

    & > .modal-window__content
      animation animatetop .3s
      animation-fill-mode forwards

