.multi-range-slider
  position relative
  max-width 296px
  & > .slider
    position relative
    z-index 1
    height 3px

    & > .track
      position absolute
      z-index 1
      left 0
      right 0
      top 0
      bottom 0
      background-color color-gallery
      border-radius 3px

    & > .range
      position absolute
      z-index 2
      left 25%
      right 25%
      top 0
      bottom 0
      border-radius 3px
      background-color color-medium-purple

    & > .thumb
      position absolute
      z-index 3
      width 13px
      height 13px
      background-image url("../img/sprite.svg#bg")
      background-repeat no-repeat
      background-position center
      background-size cover
