.multi-range-slider
  display grid
  grid-template "number-left number-right" "ranges ranges"

  width 100%
  max-width 296px
  &-label
    &--left
      grid-area number-left
    &--right
      grid-area number-right

  &__input
    &-range
      position absolute
      z-index 2
      pointer-events none
      height 15px
      width 100%
      opacity 0
      &::-webkit-slider-thumb
        pointer-events all
        width 15px
        height 15px

        cursor pointer
        -webkit-appearance none

  &__ranges
    grid-area ranges
    position relative

    & > .multi-range
      position relative
      z-index 1
      height 3px

      & > .track
        position absolute
        z-index 1
        left 0
        right 0
        top 0
        bottom 0
        background-color color-gallery
        border-radius 3px

      & > .range
        position absolute
        z-index 2
        top 0
        bottom 0
        border-radius 3px
        background-color color-medium-purple

      & > .thumb
        position absolute
        z-index 3
        width 13px
        height 13px
        background-image url("../img/sprite.svg#bg")
        background-repeat no-repeat
        background-position center
        background-size cover
