.multi-range-slider
  display grid
  grid-template "number-left number-right" "ranges ranges"

  width 100%
  max-width 296px
  &-label
    &--left
      grid-area number-left
    &--right
      grid-area number-right

  &__input
    &-number
      padding-left: 13px
      width 86px
      height 30px
      border 1px solid color-dusty-gray
      border-radius 2px

      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color color-dove-gray
    &-range
      position absolute
      z-index 2
      pointer-events none
      height 15px
      width 100%
      opacity 0
      &::-webkit-slider-thumb
        pointer-events all
        width 15px
        height 15px

        cursor pointer
        -webkit-appearance none

  &__ranges
    grid-area ranges
    position relative
    width 95%
    justify-self center
    & > .multi-range
      position relative
      z-index 1
      height 3px

      & > .track
        position absolute
        z-index 1
        left -6px
        right -6px
        top 0
        bottom 0
        background-color color-gallery
        border-radius 3px

      & > .range
        position absolute
        z-index 2
        top 0
        bottom 0
        border-radius 3px
        background-color color-medium-purple

      & > .thumb
        position absolute
        z-index 3
        width 13px
        height 13px
        background-image url("../img/sprite.svg#bg")
        background-repeat no-repeat
        background-position center
        background-size cover
        &--left
          transform translateX(-7px)

        &--right
          transform translateX(7px)
