@import 'breadcrumbs.styl'
.breadcrumbs
  &__container
    padding 0

.product
  &-breadcrumbs
    margin-bottom 0

    & .breadcrumbs
      margin-bottom 31px

  &__modal
    &-dialog
      & > .modal-window__content
        padding 30px

        width fit-content
        max-width 624px

    &-accept
      & > .modal-window__content
        padding 118px 75px
        display flex
        flex-direction column
        align-items center

        width fit-content

    &-images
      padding-top 143px
      //position relative
      & .swiper-navigation
        z-index 10
        top 67px
        left 'calc(%s / 2)' % gap
        width 'calc(100% - %s)' % gap



      & > .modal-window__content
        padding 0
        display flex
        flex-direction column
        align-items center

        & .product__items
          display flex
          align-items center

          & .product__item.swiper-slide
            display flex
            justify-content center
            align-items center


      & .modal-window__picture
        margin 0
        padding 50px 107px
        width 100%

        &-img
          width 100%

      & .product__item-img
        max-height initial
        min-height 126px

  &__container
    position relative
    padding-top 0

    display grid
    //grid-template-columns repeat(2, 1fr)
    grid-template-columns minmax(514px, 1fr) minmax(auto, 1fr)
    grid-template-rows repeat(4, auto)
    column-gap 32px
    row-gap 13px

  &__card
    padding 16px 0 0

    grid-row-start 1
    grid-row-end 3
    grid-column-start 2
    grid-column-end -1

    justify-content flex-start
    align-items flex-start

    max-width initial
    min-height initial
    @media (max-width 1440px)
      width 100%

    &:after
      content none

    &-rating.link
      margin-bottom 0

    &-title
      display flex
      flex-direction column

      & > span
        font-weight 400

        &:first-child
          margin-bottom 5px
          font-size 24px
          line-height 130%

        &:last-child
          font-size 14px
          line-height 100%
          color color-dusty-gray

    &-price
      margin 0 0 28px 0

      font-weight 400
      font-size 36px
      line-height 100%
      color color-mine-shaft

    &-btn
      padding 16px 29px
      margin-bottom 15px

      &-outline
        margin-left 30px
        font-weight 400
        font-size 17px
        line-height 130%
        color color-medium-purple

  &__picture
    grid-row-start 1
    grid-row-end 2
    grid-column-start 1
    grid-column-end 2

  &__img
    width -webkit-fill-available

  &__items
    padding 10px 25px
    margin-bottom 14px

    grid-row-start 2
    grid-row-end 3
    grid-column-start 1
    grid-column-end 2

    display grid
    grid-template-columns repeat(4, auto)
    grid-column-gap 38px

    background-color color-alabaster
    overflow hidden
    @media (max-width 1200px)
      padding 10px

  &__item
    &-img
      max-height 61px

  &__article
    grid-row-start 3
    grid-row-end 4
    grid-column-start 1
    grid-column-end 2
    color color-mine-shaft

    &-title
      margin-bottom 9px
      font-weight 600
      font-size 16px
      line-height 100%

    &-descr
      display flex
      flex-direction column

      font-weight 400
      font-size 14px
      line-height 180%

      & span
        margin-bottom 6px

  &__schemes
    grid-row-start 4
    grid-row-end -1
    grid-column-start 1
    grid-column-end 2

    align-self end

    display flex
    align-items center

    &-item
      &:not(:last-child)
        margin-right: 32px

  &__attributes
    grid-row-start 3
    grid-row-end -1
    grid-column-start 2
    grid-column-end -1
    align-self end

    font-weight 400
    font-size 14px
    line-height 180%

    &-item
      display flex
      width 100%

      &-name
        display flex
        width 'calc(50% + (%s / 2))' % gap
        color color-dusty-gray
        white-space nowrap
        @media (max-width 1440px)
          width 'calc(33% + (%s / 2))' % gap

        &:after
          content '...........................................................................'
          display block
          white-space nowrap
          overflow hidden

          font-weight 400
          font-size 5px
          line-height 0
          letter-spacing 0.6em

.like-products
  &__container
    padding-top 80px
    padding-bottom 70px
    @media (max-width 1200px)
      padding-top 70px

  &__title
    margin-bottom 24px

    font-weight 400
    font-size 24px
    line-height 130%
    color color-mine-shaft

  &__item
    min-height 420px
    for num in (1..10)
      &.order{num}
        order: num

    & .card__picture
      margin-right -16px
      margin-left -16px
      height initial

.dialog
  padding 30px

  &::backdrop
    background-color color-mine-shaft
    opacity .3

  &-form
    width 100%
    color color-mine-shaft

    &__title
      margin-bottom 8px
      font-weight 400
      font-size 32px
      line-height 100%

    &__descr
      margin-bottom 30px
      width 62%
      font-weight 400
      font-size 14px
      line-height 19px

    &__label
      margin-bottom 30px

      &--last
        margin-bottom 0
