@import 'breadcrumbs.styl'
.breadcrumbs
  &__container
    padding 0

.product
  &-breadcrumbs
    margin-bottom 0

    & .breadcrumbs
      margin-bottom 31px

  &__container
    position relative
    padding-top 0

    display grid
    grid-template-columns repeat(2, 1fr)
    grid-template-rows repeat(4, auto)
    column-gap 32px
    row-gap 13px

  &__card
    padding 16px 0 0

    grid-row-start 1
    grid-row-end 3
    grid-column-start 2
    grid-column-end -1

    justify-content flex-start
    align-items flex-start

    max-width initial
    min-height initial

    &:after
      content none

    &-rating.link
      margin-bottom 0

    &-title
      display flex
      flex-direction column

      & > span
        font-weight 400

        &:first-child
          margin-bottom 5px
          font-size 24px
          line-height 130%

        &:last-child
          font-size 14px
          line-height 100%
          color color-dusty-gray

    &-price
      margin 0 0 28px 0

      font-weight 400
      font-size 36px
      line-height 100%
      color color-mine-shaft

    &-btn
      padding 16px 29px
      margin-bottom 15px

      &-outline
        margin-left 30px
        font-weight 400
        font-size 17px
        line-height 130%
        color color-medium-purple

  &__picture
    grid-row-start 1
    grid-row-end 2
    grid-column-start 1
    grid-column-end 2

  &__items
    padding 10px 25px
    margin-bottom 14px

    grid-row-start 2
    grid-row-end 3
    grid-column-start 1
    grid-column-end 2

    display grid
    grid-template-columns repeat(4, auto)
    grid-column-gap 38px

    background-color color-alabaster

  &__article
    grid-row-start 3
    grid-row-end 4
    grid-column-start 1
    grid-column-end 2
    color color-mine-shaft
    &-title
      margin-bottom 9px
      font-weight 600
      font-size 16px
      line-height 100%

    &-descr
      display flex
      flex-direction column

      font-weight 400
      font-size 14px
      line-height 180%
      & span
        margin-bottom 6px

  &__schemes
      grid-row-start 4
      grid-row-end -1
      grid-column-start 1
      grid-column-end 2

      align-self end

      display flex
      align-items center

      &-item
        &:not(:last-child)
          margin-right: 32px

  &__attributes
    grid-row-start 3
    grid-row-end -1
    grid-column-start 2
    grid-column-end -1
    align-self end

    font-weight 400
    font-size 14px
    line-height 180%

    &-item
      & > span:first-child
        color color-dusty-gray

.like-products
  &__container
    padding-top 80px
    padding-bottom 70px

  &__title
    margin-bottom 24px

    font-weight 400
    font-size 24px
    line-height 130%
    color color-mine-shaft
  &__item
    min-height 420px
    for num in (1..10)
      &.order{num}
        order: num
