.search-form
  padding 14px 32px
  position relative

  display flex
  align-items center

  &__icon
    z-index 1
    display flex
    align-items center
    margin-right 7px
    & > svg
      width 20px
      height 20px
      & path
        transition fill .3s ease-in-out
        fill color-dusty-gray
  &__input
    padding-left 59px
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    outline none
    color inherit
    font inherit
    background-color color-alabaster
    border-radius 10px 0 0 10px
    border-color transparent
    transition color .3s ease-in-out, background-color .3s ease-in-out
    &::placeholder
      color color-dusty-gray
    &:hover
      background-color color-gallery
    &:focus
      background-color color-magnolia
      border-color color-medium-purple
    &:active + .search-form__icon
      & path
        fill color-medium-purple

  &__btn
    @extend .btn-arrow
    z-index 1
    margin-right 0
    margin-left auto
    & > svg
      width 32px
      height 32px

