/*hero*/
.swiper-horizontal
  position relative

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction
  left calc(50% - 44px)
  bottom 20px

.swiper-pagination-bullet

  width 14px
  height 14px
  background-color color-mine-shaft
  opacity .3

  &.swiper-pagination-bullet-active
    opacity 1

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
  margin 0 7px

/*special offers*/
.swiper-navigation
  position absolute
  top -56px
  right 0
  display flex
  justify-content space-between
  align-items center
  width 77px
  height 32px
  &__button
    cursor pointer
    & > *
      stroke color-medium-purple
    &:not(.swiper-button-disabled)
      @extend .btn-arrow
    &.swiper-button-disabled
      cursor initial
      & > *
        stroke color-dusty-gray

