.useful
  &-card
    margin 0
    position relative
    display inline-flex
    flex-direction column
    box-sizing border-box

    min-height 676px
    overflow hidden
    @media (max-height 1200px)
      min-height initial

    &:after
      content ""
      position absolute
      z-index -1
      top 0
      right 0
      bottom 0
      left 0
      background-color color-alabaster

    &__picture
      margin 0
      padding 0

    &__bottom
      margin 0
      padding 24px 30px 30px 30px
      display flex
      flex-direction column
      align-items flex-start
      justify-content space-between

      min-height 246px
      @media (max-width 425px)
        padding-top 26px
        min-height 250px

    &__descr
      font-weight 400
      font-size 24px
      line-height 33px
      @media (max-width 1200px)
        font-size 16px
        line-height 22px
