/*validate*/
.just-validate-error-field
  border-color color-wild-watermelon

.just-validate-error-label
  position absolute
  top -18px
  left 18px

  font-weight 400
  font-size 12px
  line-height 16px
  color color-wild-watermelon
