/*validate*/
.just-validate-error-field
  border 1px solid color-burnt-sienna

.just-validate-error-label
  position absolute
  top 40px
  left 23px

  font-family 'Roboto'
  font-style normal
  font-weight 400
  font-size 9px
  line-height 11px
  color color-burnt-sienna
