#map
  width 100%
  height 460px
  @media (max-width 576px)
    height 472px

[class*="ground-pane"]
  filter grayscale(1)

.ya-map__descr
  font-style normal
  font-weight 400
  font-size 12px
  line-height 14px

  color color-bg
  text-align center
