- var category_list = ["Диваны", "Кресла", "Пуфы", "Кровати", "Тумбы", "Комоды", "Стулья", "Столы", "Аксессуары",]
- var color_list = ["Коричневый", "Черный", "Бежевый", "Серый", "Белый", "Синий", "Оранжевый", "Желтый", "Зеленый",]
- var discount_list = ["Более 5&nbsp;000", "Менее 5&nbsp;000", "Не важно", ]
