-
  var product_list = [
    {
      id: "1",
      img: "img/card-1.webp",
      rating: "5,0",
      descr: "Диван кожаный ",
      model: "&ldquo;R-94&rdquo;",
      price: "94&nbsp;990&nbsp;руб"
    },
    {
      id: "4",
      img: "img/card-2.webp",
      rating: "4,9",
      descr: "Диван апартековый ",
      model: "&ldquo;T-75&rdquo;",
      price: "69&nbsp;990&nbsp;руб"
    },
    {
      id: "7",
      img: "img/card-3.webp",
      rating: "4,8",
      descr: "Диван тканевый ",
      model: "&ldquo;D-31&rdquo;",
      price: "28&nbsp;490&nbsp;руб"
    },
    {
      id: "2",
      img: "img/card-4.webp",
      rating: "4,8",
      descr: "Диван велюровый ",
      model: "&ldquo;Y-68&rdquo;",
      price: "22&nbsp;990&nbsp;руб"
    },
    {
      id: "5",
      img: "img/card-5.webp",
      rating: "4,8",
      descr: "Диван из&nbsp;шинила ",
      model: "&ldquo;W-95&rdquo;",
      price: "22&nbsp;990&nbsp;руб"
    },
    {
      id: "8",
      img: "img/card-6.webp",
      rating: "4,8",
      descr: "Диван флоковый ",
      model: "&ldquo;G-41&rdquo;",
      price: "17&nbsp;990&nbsp;руб"
    },
    {
      id: "3",
      img: "img/card-7.webp",
      rating: "4,8",
      descr: "Диван шиниловый ",
      model: "&ldquo;V-43&rdquo;",
      price: "19&nbsp;990&nbsp;руб",
      productOrder: "4",
    },
    {
      id: "6",
      img: "img/card-8.webp",
      rating: "4,7",
      descr: "Диван велюровый ",
      model: "&ldquo;S-99&rdquo;",
      price: "19&nbsp;990&nbsp;руб"
    },
    {
      id: "9",
      img: "img/card-9.webp",
      rating: "4,7",
      descr: "Диван из кожзама",
      model: "&ldquo;F-85&rdquo;",
      price: "26&nbsp;990&nbsp;руб"
    },
    {
      id: "10",
      img: "img/card-10.webp",
      rating: "4,6",
      descr: "Диван флоковый",
      model: "&ldquo;H-64&rdquo;",
      price: "25&nbsp;990&nbsp;руб"
    },
    {
      id: "11",
      img: "img/card-11.webp",
      rating: "4,6",
      descr: "Диван флоковый",
      model: "&ldquo;H-58&rdquo;",
      price: "23&nbsp;990&nbsp;руб",
      productOrder: "2",
    },
    {
      id: "12",
      img: "img/card-12.webp",
      rating: "4,6",
      descr: "Диван из кожзама",
      model: "&ldquo;R-43&rdquo;",
      price: "33&nbsp;990&nbsp;руб"
    },
    {
      id: "13",
      img: "img/card-13.webp",
      rating: "4,6",
      descr: "Диван из шинила ",
      model: "&ldquo;С-42&rdquo;",
      price: "18&nbsp;990&nbsp;руб"
    },
    {
      id: "14",
      img: "img/card-14.webp",
      rating: "4,7",
      descr: "Диван велюровый ",
      model: "&ldquo;U-58&rdquo;",
      price: "21&nbsp;990&nbsp;руб"
    },
    {
      id: "15",
      img: "img/card-15.webp",
      rating: "4,5",
      descr: "Диван флоковый",
      model: "&ldquo;F-41&rdquo;",
      price: "17&nbsp;990&nbsp;руб"
    },
    {
      id: "16",
      img: "img/card-16.webp",
      rating: "4,5",
      descr: "Диван велюровый ",
      model: "&ldquo;R-85&rdquo;",
      price: "34&nbsp;990&nbsp;руб",
      productOrder: "1",
    },
    {
      id: "17",
      img: "img/card-17.webp",
      rating: "4,5",
      descr: "Диван велюровый ",
      model: "&ldquo;S-44&rdquo;",
      price: "19&nbsp;990&nbsp;руб",
      productOrder: "3",
    },
    {
      id: "18",
      img: "img/card-18.webp",
      rating: "4,4",
      descr: "Диван из шинила ",
      model: "&ldquo;С-80&rdquo;",
      price: "20&nbsp;990&nbsp;руб"
    },

  ]
