-
  var product_list = [
    {
      img: "img/card-1.webp",
      rating: "5,0",
      descr: "Диван кожаный ",
      model: "&ldquo;R-94&rdquo;",
      price: "94&nbsp;990&nbsp;руб"
    },
    {
      img: "img/card-2.webp",
      rating: "4,9",
      descr: "Диван апартековый ",
      model: "&ldquo;T-75&rdquo;",
      price: "69&nbsp;990&nbsp;руб"
    },
    {
      img: "img/card-3.webp",
      rating: "4,8",
      descr: "Диван тканевый ",
      model: "&ldquo;D-31&rdquo;",
      price: "28&nbsp;490&nbsp;руб"
    },
    {
      img: "img/card-4.webp",
      rating: "4,8",
      descr: "Диван велюровый ",
      model: "&ldquo;Y-68&rdquo;",
      price: "22&nbsp;990&nbsp;руб"
    },
    {
      img: "img/card-5.webp",
      rating: "4,8",
      descr: "Диван из&nbsp;шинила ",
      model: "&ldquo;W-95&rdquo;",
      price: "22&nbsp;990&nbsp;руб"
    },
    {
      img: "img/card-6.webp",
      rating: "4,8",
      descr: "Диван флоковый ",
      model: "&ldquo;G-41&rdquo;",
      price: "17&nbsp;990&nbsp;руб"
    },
    {
      img: "img/card-7.webp",
      rating: "4,8",
      descr: "Диван шиниловый ",
      model: "&ldquo;V-43&rdquo;",
      price: "19&nbsp;990&nbsp;руб"
    },
    {
      img: "img/card-8.webp",
      rating: "4,7",
      descr: "Диван велюровый ",
      model: "&ldquo;S-99&rdquo;",
      price: "19&nbsp;990&nbsp;руб"
    }
  ]
