-
  var footer_list = [
    ["О нас", "О компании", "Блог",],
    ["Услуги", "Доставка", "Рассрочка и кредит", "Сборка и установка",],
    [
      {
        name: "Связь с нами",
        url: "/contacts"
      },
      {
        name: "Обратная связь",
        url: "/contacts"
      },
      {
        name: "Контакты",
        url: "/contacts"
      },
    ],
    [
      {
        name: "Сотрудничество",
        url: "/cooperation#cooperation"
      },
      {
        name: "Поставщикам",
        url: "/cooperation#shipper",
      },
      {
        name: "Оптовикам",
        url: "/cooperation#cooperation"
      },
      {
        name: "Карьера",
        url: "/cooperation#cooperation"
      },
    ],
  ]
