- var header_top_items = ['О компании', 'Гарантия и возврат', 'Корпоративным клиентам', 'Дизайн-решение']
-
  var header__items = [
    {
      name: 'Каталог',
      url: '/catalog'
    },
    'Магазины', 'Шоу-рум', 'Доставка и оплата', 'Дисконт',
    {
      name: 'Контакты',
      url: '/contacts'
    },
  ]
