-
  var hero_list = [
    {id: "first", header: "Скидка 15% на&nbsp;первую покупку", button: "Получить!"},
    {id: "second", header: "1000+ аксессуаров для дома", button: "Подробнее"},
    {id: "third", header: "Коллекция стильного и яркого текстиля", header_style: "white", button: "Подробнее"},
  ]

-
  var spec_offer_list = [
    {
      img: "img/spec-1.webp",
      descr: "Кресло велюровое",
      model: "&ldquo;X-24&rdquo;",
      discount: "-&nbsp;9&nbsp;000",
      price: "15&nbsp;990&nbsp;руб",
      old_price: "24&nbsp;990 руб",
    },
    {
      img: "img/spec-2.webp",
      descr: "Диван тканевый ",
      model: "&ldquo;Z-44&rdquo;",
      discount: "-&nbsp;10&nbsp;000",
      price: "22&nbsp;990&nbsp;руб",
      old_price: "32&nbsp;990 руб",
      scheme: "img/spec-scheme-2.webp",
      class: "--wide"
    },
    {
      img: "img/spec-3.webp",
      descr: "Будильник ",
      model: "&ldquo;Quartz-23&rdquo;",
      discount: "-&nbsp;600",
      price: "1&nbsp;290&nbsp;руб",
      old_price: "1&nbsp;890 руб",
    },
    {
      img: "img/spec-4.webp",
      descr: "Мини-скульптура ",
      model: "&ldquo;Oh&nbsp;my&nbsp;deer&rdquo;",
      discount: "-&nbsp;300",
      price: "1&nbsp;690&nbsp;руб",
      old_price: "1&nbsp;990 руб",
    },
    {
      img: "img/spec-5.webp",
      descr: "Диван вел-флок ",
      model: "&ldquo;Z-85&rdquo;",
      discount: "-&nbsp;10&nbsp;000",
      price: "22&nbsp;990&nbsp;руб",
      old_price: "32&nbsp;990 руб",
      scheme: "img/spec-scheme-5.webp",
      class: "--wide"
    },
    {
      img: "img/spec-6.webp",
      descr: "Термометр + гидрометр ",
      model: "&ldquo;H-18&rdquo;",
      discount: "-&nbsp;700",
      price: "1&nbsp;390&nbsp;руб",
      old_price: "2&nbsp;090 руб",
    },
  ]
-
  var category_list = [
    {
      img: "img/category-1",
      title: "Диваны",
      menu: ["Прямые", "Угловые", "Модульные"],
    },
    {
      img: "img/category-2",
      title: "Кресла",
      menu: ["Мягкие", "Кресла-кровати"],
    },
    {
      img: "img/category-3",
      title: "Кровати",
      menu: ["Односпальные", "Двуспальные"],
    },
    {
      img: "img/category-4",
      title: "Тумбы и&nbsp;комоды",
      menu: ["Тумбы", "Комоды"],
    },
    {
      img: "img/category-5",
      title: "Стулья",
      menu: ["Деревянные", "Металлокаркас"],
    },
  ]
-
  var useful_list = [
    {
      img: "img/useful-1",
      descr: "И&nbsp;нет сомнений, что сделанные на&nbsp;базе интернет-аналитики выводы представляют собой не&nbsp;что иное?",
    },
    {
      img: "img/useful-2",
      descr: "Как принято считать, некоторые особенности приносят несомненную пользу обществу?",
    },
    {
      img: "img/useful-3",
      descr: "Ясность нашей позиции очевидна: укрепление и&nbsp;развитие внутренней структуры?",
    },
    {
      img: "img/useful-4",
      descr: "Прежде всего, консультация с&nbsp;широким активом однозначно фиксирует необходимость распределения?",
    },
    {
      img: "img/useful-5",
      descr: "Прежде всего, консультация с&nbsp;широким активом однозначно фиксирует необходимость распределения?",
    },
  ]
