-
  var product_items = [
    {
      id: "1",
      img: "img/product-1.webp",
      small_imgs: ["img/product-1-smal-1.webp", "img/product-1-smal-2.webp", "img/product-1-smal-3.webp", "img/product-1-smal-4.webp"],
      schemes: ["img/product-1-sheme-1.webp", "img/product-1-sheme-2.webp"],
      rating: "4,8",
      name: "Диван тканевый прямой ",
      model: "D-31",
      price: "28&nbsp;490&nbsp;руб",
      name_descr: "Мини 120 см без ящика Stark синий (Рогожка)",
      descr_title: "Опорный механизм",
      descr: ["Опорный механизм напоминает пантограф, к&nbsp;которому добавили дополнительную секцию. У&nbsp;опорного дивана сиденье &laquo;выпрыгивает&raquo; вперёд и&nbsp;вытаскивает вторую часть спального места. Заключительный штрих&nbsp;&mdash; опустить спинку. ",
        "Этот механизм не&nbsp;портит пол и&nbsp;не&nbsp;боится ковров. Требуется чуть больше силы, чтобы разложить диван, но&nbsp;подросток справится."],
      attributes: [
        {
          name: "Гарантия",
          value: "18 месяцев",
        },
        {
          name: "Артикул",
          value: "AAA41269004",
        },
        {
          name: "Длина",
          value: "163 см",
        },
        {
          name: "Высота",
          value: "90 см",
        },
        {
          name: "Глубина",
          value: "108 см",
        },
        {
          name: "Спальное место",
          value: "200 см х 125 см",
        },
        {
          name: "Высота посадки",
          value: "45 см",
        },
        {
          name: "Механизм",
          value: "Опорный",
        },
        {
          name: "Тип обивки",
          value: "Рогожка",
        },
        {
          name: "Цвет",
          value: "Синий",
        },
        {
          name: "Наполнитель",
          value: "Независимый пружинный блок",
        },
        {
          name: "Материал каркаса",
          value: "Металл. рама с дерев. латами",
        },
        {
          name: "Количество мест",
          value: "Двухместные",
        },
        {
          name: "Категория",
          value: "Прямые тканевые диваны",
        },
        {
          name: "Возврат",
          value: "Условия",
        },

      ],
    },
  ]
