extends components/templates/layout
include components/card
block scripts
  script(defer src='js/catalog.js')
block content
  include components/store/catalog-store
  .container.grid-catalog
    include components/breadcrumbs
    +breadcrumbs(['Главная', 'Каталог', 'Диваны', 'Прямые диваны'])

    include components/aside

    section.ad-aside
      .ad-aside__container
        h2.title.ad-aside__title Оксфорд 1950
        p.descr.ad-aside__descr Новая коллекция изысканных кресел
        include components/card-link
        +card-link("ad-aside__link")

    section.catalog
      h2.catalog__title Каталог
      .catalog__slider.swiper
        .swiper-wrapper
          each item in product_list
            +card("div", item, "swiper-slide catalog__item")
        .catalog__slider-pagination

