extends components/templates/layout
block content
  .container.catalog-grid
    include components/breadcrumbs
    +breadcrumbs(['Главная', 'Каталог', 'Диваны', 'Прямые диваны'])
    include components/aside
    section.catalog
      h2 Каталог
