extends components/templates/layout
block scripts
  script(defer src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
  script(defer src='/js/contacts.js')
block content
  section.breadcrumbs.product-breadcrumbs
    .container.breadcrumbs__container
      include components/breadcrumbs
      +breadcrumbs(['Главная', 'Контакты'])

  section.contacts-page
    .container.contacts-page__container#contacts
      h1.title.contacts-page__title#cooperation Контакты

      form.contacts-page__form.form(action="#")

        label.form__input-label.contacts-page__form-label(for="search")
          span.visually-hidden Поле Введите строку поиска по адреса магазина
          input.form__input#search(name="search" type="search" placeholder="Поиск магазина" required)

        button.btn-reset.btn.form__btn.contacts-page__form-btn(id="submitBtn" aria-label="Кнопка отправить форму") Поиск

      .contacts-page__map.ya-map
        .map#map
