extends components/templates/layout
block scripts
  script(defer src='/js/product.js')
block content
  include components/store/catalog-store
  include components/store/product-store
  - var item = product_items[0]
  section.breadcrumbs.product-breadcrumbs
    .container.breadcrumbs__container
      include components/breadcrumbs
      +breadcrumbs(['Главная', 'Сотрудничество'])

  section.shipper
    .container.shipper__container
      h1.title.shipper__title#cooperatione Сотрудничество
      h2.title.shipper__title.shipper__title--second#shipper Поставщикам
      p.descr.shipper__container При планировании обстановки торгового помещения важно обустроить его с&nbsp;комфортом для покупателей: грамотно зонировать, обеспечить эффективную демонстрацию и&nbsp;хранение товаров в&nbsp;зале. Если вам необходимо комплексное оснащение, организация зоны отдыха или отдельные предметы меблировки для поддержания эффективной торговой деятельности, мы&nbsp;поможем выбрать продукцию с&nbsp;учетом нагрузки от&nbsp;поступающего трафика.

      h2.title.shipper__title.shipper__title--second Что вы получаете?
      ul.list-reset.shipper__items.shipper__items--first
        li.shipper__item.shipper__item--first Мы&nbsp;ценим идеи и&nbsp;вдохновение и&nbsp;предлагаем сотрудничество талантливым дизайнерам и&nbsp;архитекторам. Выпускаемая нами продукция гармонично дополнит любой современный проект.
        li.shipper__item.shipper__item--second Комплексное решение для красивого и&nbsp;функционального обустройства любых пространств.
        li.shipper__item.shipper__item--third В&nbsp;ассортименте представлены все товарные группы для того, чтобы воссоздать обстановку в&nbsp;помещениях разных типов: кабинетах, смешанных пространствах, Open Space, гостевых и&nbsp;переговорных комнатах.

      h2.title.shipper__title.shipper__title--second Ваши преимущества от сотрудничества
      ol.shipper__list.shipper__list--first
        li.shipper__list-item
          span Создавайте незабываемые впечатления. Красиво меблированная фотостудия не&nbsp;оставит клиентов равнодушными, а&nbsp;созданная интерьером атмосфера будет надолго запечатлена на&nbsp;их&nbsp;снимках. Стильная и&nbsp;разноплановая обстановка творческого пространства&nbsp;&mdash; ключевая составляющая его успешной деятельности. Позаботьтесь о&nbsp;людях в&nbsp;кадре, а&nbsp;мы&nbsp;поможем правильно выбрать мебель.
        li.shipper__list-item
          span Мы предлагаем застройщикам, работающим на территории РФ, участие наших специалистов от этапа проектирования обстановки квартир и подбора комплексных интерьерных решений до оптовых поставок мебели. Поможем организовать демонстрационный зал с образцами изделий и материалов на площади нового здания, чтобы покупатель заблаговременно подобрал тот вариант меблировки, который удовлетворит даже самые взыскательные ожидания.

      h2.title.shipper__title.shipper__title--second Гарантии
      ol.shipper__list.shipper__list--second
        li.shipper__list-item
          span При приемке товара Покупатель должен внимательно проверить его количество, качество и&nbsp;ассортимент на&nbsp;соответствие сопроводительным документам и&nbsp;заказу. После подписания товарного чека Покупатель утрачивает право предъявления претензий, которые можно выявить при приемке товара.
        li.shipper__list-item
          span На&nbsp;товары, сборка которых производилась покупателем самостоятельно (не&nbsp;специалистами Продавца), гарантийные обязательства Продавца не&nbsp;распространяются. Также гарантия не&nbsp;распространяется на&nbsp;повреждения товара, полученные в&nbsp;ходе самостоятельной доставки и&nbsp;подъема товара. Покупатель не&nbsp;вправе отказаться от&nbsp;товара надлежащего качества, имеющего индивидуально-определенные свойства, т.е. если товар может быть использован исключительно приобретающим его потребителем.
        li.shipper__list-item
          span Возврат или обмен товара возможен при условии, что сохранена упаковка, товарный вид и&nbsp;потребительские свойства товара, а&nbsp;также товарный и&nbsp;кассовый чеки. В&nbsp;этом случае мы&nbsp;гарантируем вам возврат полной стоимости товара (за&nbsp;вычетом стоимости доставки). В&nbsp;случае отказа от&nbsp;товара при доставке, клиент оплачивает услуги доставки.

      strong Срок гарантии на&nbsp;нашу мебель составляет от&nbsp;18&nbsp;до&nbsp;60&nbsp;месяцев
