extends components/templates/layout
block scripts
  script(defer src='js/script.js')
block content
  include components/store/main-store
  section.hero#hero
    .hero__container
      h1.visually-hidden Лучшие предложения
      .hero__slider
        .swiper-wrapper
          each item in hero_list
            .swiper-slide.hero__slide(class="hero__slide-" + item.id)
              .container.hero__slide-container
                h2.title.hero__slide-title !{item.header}
                button.btn-reset.btn.hero__slide-btn= item.button
        .hero__slider-pagination

  section.special-offers#special-offers
    .container.special-offers__container
      h2.title.special-offers__title Специальные предложения
      .special-offers__slider
        .special-offers__navigation

          .special-offers__navigation-prev.swiper-button
            svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
              circle(r="15" transform="matrix(-1 0 0 1 16 16)" stroke="" stroke-width="2")
              path(d="M18 11L13 16L18 21" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

          .special-offers__navigation-next.swiper-button
            svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
              circle(cx="16" cy="16" r="15" stroke="" fill="none" stroke-width="2")
              path(d="M14 11L19 16L14 21" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

        .swiper-wrapper
          include components/card
          each item in spec_offer_list
            +card("div", item, "special-offers__item swiper-slide" + (item.class ? " card" + item.class : ""), true)

  section.high-rating#high-rating
    .container.high-rating__container
      h2.title.high-rating__title Высокий рейтинг
      ul.list-reset.high-rating__items
        include components/category-card
        each item in product_list
          +card("li", item, "high-rating__item")

  section.ad#ad
    .ad__container
      .container
        h2.title.ad__title Оксфорд 1950
        p.descr.ad__descr Новая коллекция изысканных кресел
        button.btn-reset.btn.ad__btn Ознакомиться

  section.category#category
    .container.category__container
      h2.title.category__title Топ категории
      ul.list-reset.category__items
        each item in category_list
          +category-card("li", item, "category__item")

  section.useful#useful
    .container.useful__container
      h2.title.useful__title Полезное
      .useful__slider
        .swiper-wrapper
          include components/useful-card
          each item in useful_list
            +useful-card(item, "useful__item swiper-slide", true)

  section.contacts
    .container.contacts__container
      strong.contacts__title.title Мы&nbsp;всегда вам рады!
      p.contacts__descr.descr Безусловно, новая модель организационной деятельности в&nbsp;значительной степени обусловливает важность распределения внутренних резервов и&nbsp;ресурсов.

      form.contacts__form.form(action="https://postman-echo.com/post" method="post" autocomplete="off")
        label.form__input-label.contacts__form-label(for="name")
          span.visually-hidden Поле Введите фамилие, имя и отчество
          input.form__input#name(name="name" type="text" placeholder="Как вас зовут?" required)

        label.form__input-label.contacts__form-label(for="email")
          span.visually-hidden Поле Введите номер телефона
          input.form__input#phone(name="phone" type="phone" placeholder="Ваш телефон" required)

        label.form__input-label.contacts__form-label(for="email")
          span.visually-hidden Поле Введите адрес электронной почты
          input.form__input#email(name="e-mail" type="email" placeholder="Ваш e-mail" required)

        button.btn-reset.btn.form__btn.form__message-btn(type="submit" aria-label="Кнопка отправить форму") Отправить

        label.form__checkbox-input-label.contacts__form-label(for="agree")
          input.form__checkbox-input.form__checkbox-input--hide#agree(name="agree" type="checkbox" required)
          span.checkbox-icon Принимаю
          a.link пользовательское соглашение
