extends components/templates/layout
block scripts
  script(defer src='/js/product.js')
block content
  .container.grid-product
    include components/breadcrumbs
    +breadcrumbs(['Главная', 'Каталог', 'Диваны', 'Прямые диваны'])
    h1.title Карточка товара !{id}
    p.descr !{productId}


