extends components/templates/layout
block scripts
  script(defer src='/js/product.js')
block content
  include components/store/product-store
  - var item = product_list[0]
  section.breadcrumbs
    include components/breadcrumbs
    +breadcrumbs(['Главная', 'Каталог', 'Диваны', 'Прямые диваны', ])
  section.product
    .container.product__container

      h1.title Карточка товара !{item.id}
      p.descr !{productId}


