-
  var hero_list = [
    {id: "first", header: "Скидка 15% на первую покупку", button: "Получить!"},
    {id: "second", header: "1000+ аксессуаров для дома", button: "Подробнее"},
    {id: "third", header: "Коллекция стильного и яркого текстиля", button: "Подробнее"},
  ]
-
  var product_list = [
    {
      img: "img/card-1.webp",
      rating: "5,0",
      descr: "Диван кожаный &laquo;R-94&raquo;",
      price: "94&nbsp;990&nbsp;руб"
    },
    {
      img: "img/card-2.webp",
      rating: "4,9",
      descr: "Диван апартековый &laquo;T-75&raquo;",
      price: "69&nbsp;990&nbsp;руб"
    },
    {
      img: "img/card-3.webp",
      rating: "4,8",
      descr: "Диван тканевый &laquo;D-31&raquo;",
      price: "28&nbsp;490&nbsp;руб"
    },
    {
      img: "img/card-4.webp",
      rating: "4,8",
      descr: "Диван велюровый &laquo;Y-68&raquo;",
      price: "22&nbsp;990&nbsp;руб"
    },
    {
      img: "img/card-5.webp",
      rating: "4,8",
      descr: "Диван из&nbsp;шинила &laquo;W-95&raquo;",
      price: "22&nbsp;990&nbsp;руб"
    },
    {
      img: "img/card-6.webp",
      rating: "4,8",
      descr: "Диван флоковый &laquo;G-41&raquo;",
      price: "17&nbsp;990&nbsp;руб"
    },
    {
      img: "img/card-7.webp",
      rating: "4,8",
      descr: "Диван шиниловый &laquo;V-43&raquo;",
      price: "19&nbsp;990&nbsp;руб"
    },
    {
      img: "img/card-8.webp",
      rating: "4,7",
      descr: "Диван велюровый &laquo;S-99&raquo;",
      price: "19&nbsp;990&nbsp;руб"
    }
  ]
-
  var spec_offer_list = [
    {
      img: "img/spec-1.webp",
      descr: "Кресло велюровое &laquo;X-24&raquo;",
      discount: "-&nbsp;9&nbsp;000",
      price: "15&nbsp;990&nbsp;руб",
      old_price: "24&nbsp;990 руб",
    },
    {
      img: "img/spec-2.webp",
      descr: "Диван тканевый &laquo;Z-44&raquo;",
      discount: "-&nbsp;10&nbsp;000",
      price: "22&nbsp;990&nbsp;руб",
      old_price: "32&nbsp;990 руб",
      scheme: "img/spec-scheme-2.webp"
    },
    {
      img: "img/spec-3.webp",
      descr: "Будильник &laquo;Quartz-23&raquo;",
      discount: "-&nbsp;600",
      price: "1&nbsp;290&nbsp;руб",
      old_price: "1&nbsp;890 руб",
    },
    {
      img: "img/spec-4.webp",
      descr: "Мини-скульптура &laquo;Oh&nbsp;my&nbsp;deer&raquo;",
      discount: "-&nbsp;300",
      price: "1&nbsp;690&nbsp;руб",
      old_price: "1&nbsp;990 руб",
    },
    {
      img: "img/spec-5.webp",
      descr: "Диван вел-флок &laquo;Z-85&raquo;",
      discount: "-&nbsp;10&nbsp;000",
      price: "22&nbsp;990&nbsp;руб",
      old_price: "32&nbsp;990 руб",
      scheme: "img/spec-scheme-5.webp"
    },
    {
      img: "img/spec-6.webp",
      descr: "Термометр + гидрометр &laquo;H-18&raquo;",
      discount: "-&nbsp;700",
      price: "1&nbsp;390&nbsp;руб",
      old_price: "2&nbsp;090 руб",
    },
  ]
-
  var category_list = [
    {
      img: "img/category-1.webp",
      title: "Диваны",
      menu: ["Прямые", "Угловые", "Модульные"],
    },
    {
      img: "img/category-2.webp",
      title: "Кресла",
      menu: ["Мягкие", "Кресла-кровати"],
    },
    {
      img: "img/category-3.webp",
      title: "Кровати",
      menu: ["Односпальные", "Двуспальные"],
    },
    {
      img: "img/category-4.webp",
      title: "Тумбы и комоды",
      menu: ["Тумбы", "Комоды"],
    },
    {
      img: "img/category-5.webp",
      title: "Стулья",
      menu: ["Деревянные", "Металлокаркас"],
    },
  ]
