-
  var hero_list = [
    {id: "first", header: "Скидка 15% на первую покупку", button: "Получить!"},
    {id: "second", header: "1000+ аксессуаров для дома", button: "Подробнее"},
    {id: "third", header: "Коллекция стильного и яркого текстиля", button: "Подробнее"},
  ]
-
  var product_list = [
    {
      img: "img/card-1.webp",
      rating: "5,0",
      descr: "Диван кожаный &laquo;R-94&raquo;",
      price: "94&nbsp;990&nbsp;руб"
    },
    {
      img: "img/card-2.webp",
      rating: "4,9",
      descr: "Диван апартековый &laquo;T-75&raquo;",
      price: "69&nbsp;990&nbsp;руб"
    },
    {
      img: "img/card-3.webp",
      rating: "4,8",
      descr: "Диван тканевый &laquo;D-31&raquo;",
      price: "28&nbsp;490&nbsp;руб"
    },
    {
      img: "img/card-4.webp",
      rating: "4,8",
      descr: "Диван велюровый &laquo;Y-68&raquo;",
      price: "22&nbsp;990&nbsp;руб"
    },
    {
      img: "img/card-5.webp",
      rating: "4,8",
      descr: "Диван из&nbsp;шинила &laquo;W-95&raquo;",
      price: "22&nbsp;990&nbsp;руб"
    },
    {
      img: "img/card-6.webp",
      rating: "4,8",
      descr: "Диван флоковый &laquo;G-41&raquo;",
      price: "17&nbsp;990&nbsp;руб"
    },
    {
      img: "img/card-7.webp",
      rating: "4,8",
      descr: "Диван шиниловый &laquo;V-43&raquo;",
      price: "19&nbsp;990&nbsp;руб"
    },
    {
      img: "img/card-8.webp",
      rating: "4,7",
      descr: "Диван велюровый &laquo;S-99&raquo;",
      price: "19&nbsp;990&nbsp;руб"
    }
  ]
-
  var spec_offer_list = [
    {
      img: "img/spec-1.webp",
      descr: "Кресло велюровое &laquo;X-24&raquo;",
      discount: "&mdash;&nbsp;9&nbsp;000",
      price: "15&nbsp;990&nbsp;руб",
      old_price: "24&nbsp;990 руб",
    },
  ]
