//node modules
@import '../../node_modules/normalize-styl/normalize'
@import '../../node_modules/choices.js/public/assets/styles/choices.min.css'
@import '../../node_modules/swiper/swiper-bundle.min.css'
//helpers
@import 'base/fonts.styl'
@import 'base/vars.styl'
//mixins
@import 'mixnis/mixins.styl'
//components
@import 'components/general.styl'
@import 'components/search.styl'
@import 'components/card-link.styl'
@import 'components/card.styl'
@import 'components/category-card.styl'
@import 'components/choices.styl'
@import 'components/swiper.styl'
@import 'components/useful.styl'
@import 'components/validate.styl'
@import 'components/modal-window.styl'
//@import 'components/burger.styl'


/*aside*/
.aside
  grid-area sidebar

/*main*/
.main
  grid-area main

/*hero*/
.hero
  &__container
    overflow hidden
    width 100%

  &__slider
    position relative

  &__slide
    position relative

    display flex
    flex-direction column
    align-items flex-start
    justify-content flex-end
    height 400px
    overflow hidden

    &:after
      @extend .img-height100

    //content ''
    //position absolute
    //z-index -1
    //top 0
    //bottom 0
    //left calc((100vw - 1920px) / 2)
    //right calc((100vw - 1920px) / 2)
    //@media (max-width 1024px)
    //  left calc((100vw - 1024px) / 2)
    //  right calc((100vw - 1024px) / 2)

    &-container
      padding-top 0
      padding-bottom: 80px
      display flex
      flex-direction column
      justify-content flex-end
      align-items flex-start

    &-title
      margin-bottom: 48px
      font-weight 700
      font-size 48px
      line-height 65px
      color color-dusty-gray
      max-width 500px

      &--white
        color color-bg
        max-width 590px

    &-first
      &:after
        background-image url("../img/slide-1-1920.webp")
        background-repeat no-repeat
        background-size 100%
        background-position center
        @media (max-width 1024px)
          background-image url("../img/slide-1-1024.webp")
          background-repeat no-repeat
          background-size 100%
          background-position center

    &-second
      &:after
        background-image url("../img/slide-2-1920.webp")
        background-repeat no-repeat
        background-size contain
        background-position center
        @media (max-width 1024px)
          background-image url("../img/slide-2-1024.webp")
          background-repeat no-repeat
          background-size 100%
          background-position center

    &-third
      &:after
        background-image url("../img/slide-3-1920.webp")
        background-repeat no-repeat
        background-size contain
        background-position center
        @media (max-width 1024px)
          background-image url("../img/slide-3-1024.webp")
          background-repeat no-repeat
          background-size 100%
          background-position center

/*special-offers*/
.special-offers
  &__item
    &:not(:nth-child(3n))
      margin-right gap

/*high-rating*/
.high-rating
  &__container
    padding-bottom 70px
    display flex
    flex-direction column
    justify-content flex-start
    align-items center

  &__title
    align-self flex-start

  &__items
    margin-bottom gap
    margin-left 0
    margin-right 0

    display grid
    grid-template-rows repeat(2, 1fr)
    grid-template-columns repeat(4, 1fr)

    grid-row-gap gap
    grid-column-gap 'calc((100% - (4 * %s)) / 3)' % cadr-width

    width 100%
    @media (max-width 1440px)
      grid-template-columns repeat(3, 1fr)
      grid-column-gap 'calc((100% - (3 * %s)) / 2)' % cadr-width

  &__item
    max-width initial
    height card-height
    min-height initial

    & .card__picture
      margin-left -15px
      margin-right -15px

    @media (max-width 1440px)
      &:not(:nth-child(-n + 6)) {
        display none
      }

  &__btn
    padding 20px 35px

/*ad*/
.ad
  position relative
  grid-area ad
  display flex
  flex-direction column
  justify-content center

  width 100%
  min-height 600px
  overflow hidden

  &:after
    @extend .img-height100
    background-image url("../img/ad-bg.webp")
    background-repeat no-repeat
    background-size 100%
    background-position center
    @media (max-width 1024px)
      background-image url("../img/ad-bg-1024.webp")
      background-repeat no-repeat
      background-size 100%
      background-position center

    @media (max-width 320px)
      background-image url("../img/ad-bg-320.webp")
      background-repeat no-repeat
      background-size 100%
      background-position center

  &__container
    padding 11px 0 0
    display flex
    flex-direction column
    justify-content flex-start
    align-items flex-start

  &__title
    margin 0
    font-family "Playfair Display", Verdana, sans-serif
    font-style normal
    font-weight 900
    font-size 60px
    line-height 120%
    color color-straw

  &__descr
    margin-bottom 49px
    font-weight 400
    font-size 48px
    line-height 120%
    color color-bg
    max-width 508px

  &__btn
    padding 20px 30px

/*useful*/

/*category*/
.category
  &__items
    display grid
    grid-template-columns repeat(6, 1fr)
    grid-gap gap

  &__item
    grid-column span 2
    overflow hidden
    order 10

    &:nth-child(1)
      order 1
      grid-column span 3
      @media (max-width 1024px)
        grid-column span 4

    &:nth-child(2)
      grid-column span 3
      @media (max-width 1024px)
        order 4
        grid-column span 2

    &:nth-child(3)
      @media (max-width 1024px)
        order 2

    &:nth-child(4)
      @media (max-width 1024px)
        order 3

/*contacts*/
.contacts
  &__container
    padding-bottom 68px
    background-image url("../img/contacts.webp")
    background-repeat no-repeat
    background-position top 94px right
    @media(max-width 1200px)
      padding-top 72px
      background-image url("../img/contacts-1024.webp")
      background-repeat no-repeat
      background-position top 149px right

  &__form
    &-title
      margin-bottom 8px

    &-descr
      margin-bottom 'calc(%s / 2)' % gap
      font-weight 400
      font-size 14px
      line-height 19px
      color color-dove-gray

/*footer*/
.footer
  grid-area footer

  &__top
    position relative

    &:after
      content ""
      position absolute
      z-index -1
      top 0
      right 0
      bottom 0
      left 0
      background-color color-gallery

  &__container
    padding-top 26px
    padding-bottom 24px
    display flex
    justify-content space-between

  &__left
    display inline-flex
    flex-direction column
    align-items flex-start
    justify-content space-between

  &__social
    &-items
      display inline-grid
      grid-template-columns repeat(3, auto)
      grid-gap 17px

    &-item
      position relative
      width 33px
      height 30px

      &-link.link
        position absolute
        z-index 1
        top 0
        right 0
        bottom 0
        left 3px
        color color-dusty-gray
        outline none
        transition color .3s ease-in-out

        &:after
          content ""
          position absolute
          z-index -1
          top -3px
          right -3px
          bottom -3px
          left -3px
          background-color transparent
          transition background-color .3s ease-in-out

        & path
          fill currentColor

        &:hover
          color color-medium-purple

        &:focus
          color color-bg

          &:after
            background-color color-mauve

        &:active
          color color-purple-heart

  &__cards
    display inline-grid
    grid-template-columns repeat(4, auto)
    grid-gap 130px

  &__card
    display flex
    row-gap 10px
    flex-direction column
    align-items flex-start

    &-link
      &.link
        font-weight 400
        font-size 14px
        line-height 100%
        color color-dusty-gray

      &-title
        &.link
          color color-mine-shaft

  &__bottom
    padding: 0
    display flex
    justify-content center

    &-info
      background linear-gradient(color-bg, color-bg)
      color color-dusty-gray
      font-weight 400
      font-size 14px
      line-height 19px

@import 'components/header.styl'
@import 'components/catalog.styl'
@import 'components/product.styl'
@import 'components/cooperation.styl'
@import 'components/contacts.styl'
