//node modules
@import '../../node_modules/normalize-styl/normalize'
@import '../../node_modules/choices.js/public/assets/styles/choices.min.css'
@import '../../node_modules/swiper/swiper.min.css'
//helpers
@import 'base/fonts.styl'
@import 'base/vars.styl'
//components
@import 'components/general.styl'
@import 'components/search.styl'
@import 'components/card.styl'
@import 'components/category-card.styl'
@import 'components/useful-card.styl'
@import 'components/choices.styl'
//@import 'components/validate.styl'
//@import 'components/burger.styl'

/*header*/
.header
  &__container
    width 100%
    max-width initial

  &__top
    padding-top 18px
    padding-bottom 18px
    background-color color-alabaster
    & .container
      display flex
      flex-wrap nowrap
      overflow initial

    &-items
      @extend .menu-right
      font-family 'Open Sans'
      font-style normal
      font-weight 400
      font-size 14px
      line-height 100%
      color color-dusty-gray
    &-item
      &:not(:last-child)
        margin-right 64px

  &__menu
    display flex

    &-items
      @extend .menu-right

  &__bottom
    display flex

    &-link
      width 41px
      height 28px
      background-image url("../img/sprite.svg#shopping_cart")
      background-repeat no-repeat
      background-position right center
      background-size contain

/*hero*/
.hero
  &__slide
    &-first
      background-image url("../img/slide-1.webp")

    &-second
      background-image url("../img/slide-2.webp")

    &-third
      background-image url("../img/slide-3.webp")

/*ad*/
.ad
  &__container
    color color-straw
    width 100%
    background-image url("../img/ad-bg.webp")
    background-repeat no-repeat
    background-position center

  &__title
    font-family "Playfair Display", Verdana, sans-serif
    font-style normal
    font-weight 900
    font-size 60px
    line-height 120%
/*contacts*/
.contacts
  &__container
    background-image url("../img/contacts.webp")
    background-repeat no-repeat
    background-position center right
  &__form
    display flex
    flex-direction column
    flex-wrap nowrap
