//node modules
@import '../../node_modules/normalize-styl/normalize'
@import '../../node_modules/choices.js/public/assets/styles/choices.min.css'
@import '../../node_modules/swiper/swiper.min.css'
//helpers
@import 'base/fonts.styl'
@import 'base/vars.styl'
//components
@import 'components/general.styl'
@import 'components/search.styl'
@import 'components/card.styl'
@import 'components/category-card.styl'
@import 'components/useful-card.styl'
@import 'components/choices.styl'
//@import 'components/validate.styl'
//@import 'components/burger.styl'

/*header*/
.header
  &__container
    padding-bottom 29px
    width 100%
    max-width initial

  &__top
    padding-top 18px
    padding-bottom 10px
    background-color color-alabaster
    & .container
      display flex
      flex-wrap nowrap
      overflow initial
    &-label
      &:hover .choices__inner
        color color-mauve
      &:focus
        background-color color-blue-chalk
      &:active .choices__inner
        color color-purple-heart

    &-phone
      transform translateY(-4px)

    &-items
      @extend .menu-right
      font-family 'Open Sans', sans-serif
      font-style normal
      font-weight 400
      font-size 14px
      line-height 100%
      color color-dusty-gray
    &-item
      &:not(:last-child)
        margin-right 64px

  &__menu
    padding-top 32px
    padding-bottom 29px
    padding-right 3px
    display flex
    align-items center

    &-items
      @extend .menu-right
      font-family 'Open Sans', sans-serif
      font-style normal
      font-weight 400
      font-size 16px
      line-height 22px
    &-item
      &:not(:last-child)
        margin-right: 92px

  &__bottom
    display flex
    justify-content flex-start
    align-items center

    overflow visible
    position relative

    width 100%
    &--action
      & path
        fill color-medium-purple
      &:hover
        & path
          fill color-mauve
      &:focus
        background-color color-mauve
        & path
          fill color-bg
      &:active
        & path
          fill color-purple-heart
    &-btn
      margin-left auto
      margin-right 24px
    &-link
      padding 3px 4px 3px 8px

      margin-right 0
      margin-left 0
      position relative
      transform: translateY(-2px);

      display flex
      justify-content flex-start
      align-items center

      width 49px
      height 34px


      &-icon
        top 3px
        right 0

        position absolute

      &-value
        padding: 2px 0 0
        width 15px
        height 15px

        text-align center
        font-weight 700
        font-size 10px
        line-height 100%

        background-color color-crusta
        border-radius 50%

        color color-bg


    &-form
      width 'min(%s, calc(200% / 3))' % 761px
    &-label
      display flex
      align-items center
      border 2px solid color-alabaster
      border-radius 0 10px 10px 0
      min-width 300px
      min-height 60px
      cursor pointer

      transition background-color .3s ease-in-out, border-color .3s ease-in-out

      & > .choices
        width 100%
        &:after
          right 30px
      &:hover
        border-color color-medium-purple
      &:focus
        border-color color-medium-purple
        background-color color-magnolia
      &:active
        border-color color-purple-heart
      & .choices__item
        padding-left 27px

/*hero*/
.hero
  &__slide
    &-first
      background-image url("../img/slide-1.webp")

    &-second
      background-image url("../img/slide-2.webp")

    &-third
      background-image url("../img/slide-3.webp")

/*ad*/
.ad
  &__container
    color color-straw
    width 100%
    background-image url("../img/ad-bg.webp")
    background-repeat no-repeat
    background-position center

  &__title
    font-family "Playfair Display", Verdana, sans-serif
    font-style normal
    font-weight 900
    font-size 60px
    line-height 120%
/*contacts*/
.contacts
  &__container
    background-image url("../img/contacts.webp")
    background-repeat no-repeat
    background-position center right
  &__form
    display flex
    flex-direction column
    flex-wrap nowrap
