.img-height100
  content ''
  position absolute
  z-index -1
  top 0
  bottom 0
  left calc((100vw - 1920px) / 2)
  right calc((100vw - 1920px) / 2)
  @media (max-width 1024px)
    left calc((100vw - 1024px) / 2)
    right calc((100vw - 1024px) / 2)
