include store/aside-store
include fieldset-checkbox
aside.aside
  .form.aside__form
    strong Фильтровать по:
    +fieldset-checkbox("Категории", category_list, "cat-", "checkbox")
    +fieldset-checkbox("Скидка", discount_list, "color-", "checkbox")
    +fieldset-checkbox("Цвет", color_list, "color-", "checkbox")

    //fieldset.form__fieldset
    //  legend.form__fieldset-legend Категории
    //  ul.form__items.list-reset
    //    each item, index in category_list
    //      - var id = "cat-" + index
    //      li.form__item
    //        label.form__checkbox-input-label.aside__form-label(for=id)
    //          input.form__checkbox-input.form__checkbox-input--hide(id=id name=id type="checkbox" required)
    //          span.checkbox-icon !{item}

