mixin card-link(class_name)
  a.link.card-link(href="#", class= class_name)
    span.card-link__btn
      svg(width="22" height="22" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
        circle(r="15" transform="matrix(-1 0 0 1 16 16)" stroke="" stroke-width="2")
        path(d="M14 11L19 16L14 21" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    span.card-link__descr В каталог
