mixin category-card(tag, item)
  #{tag}.category-card(class= class_name)
    ul.list-reset.category-card__items
      each itm in item.menu
        li.category-card__item
          a.link.category-card__item-link(href="#")= itm
    strong.title.category-card__title !{item.title}
    picture
      img.category-card__img(src= item.img alt="Фото категории")
    a.link.category-card__link(href="#") В каталог
