mixin category-card(tag, item, class_name)
  #{tag}.category-card(class= class_name)
    ul.list-reset.category-card__items
      each itm in item.menu
        li.category-card__item
          a.link.category-card__item-link(href="#")= itm
    strong.title.category-card__title !{item.title}
    picture.category-card__picture
      source(srcset=item.img + "-1024.webp" media="(max-width: 1200px)")
      img.category-card__img(src= item.img + ".webp" alt="Фото категории")
    include card-link
    +card-link("category-card__link")

