head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  title SitDownPls

  link(rel="icon" href="img/favicon.svg" sizes="any" type="image/svg+xml")
  link(rel="stylesheet" href="css/style.min.css")

  //script(defer src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js")

  script(defer src='js/script.js')
